@charset "UTF-8";
.header {
  width: 100%;
  position: absolute;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 24px;
}
.header-flex-nav-list {
  display: flex;
  justify-content: space-between;
  font-family: Great Vibes;
  color: #fff;
}
.header-flex-nav-item {
  padding: 0 24px;
  font-size: 24px;
  letter-spacing: 8px;
  position: relative;
  overflow: hidden;
}
.header-flex-nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: translate(-100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.335, 1) 0.4s;
  content: "";
}
.header-flex-nav-item:hover::after {
  transform: translate(0, 0);
}
.header-flex-nav-item:last-child {
  padding-right: 0;
}
.header-hamburger {
  display: block;
  position: fixed;
  z-index: 60;
  left: 13px;
  top: 12px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.header-hamburger span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 6px;
  background: #fff;
  transition: 0.3s ease-in-out;
}
.header-hamburger-nav {
  position: fixed;
  z-index: 50;
  color: #888;
  background-color: #fff;
  text-align: center;
  transform: translate(-100px);
  transition: 0.6s;
  width: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-hamburger-nav-ul {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.header-hamburger-nav-ul-li {
  font-size: 24px;
  letter-spacing: 2px;
  height: 33%;
  font-family: Great Vibes;
  position: relative;
}
.header-hamburger-nav-ul-li::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #333;
  transform: translate(-100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.335, 1) 0.4s;
  content: "";
}
.header-hamburger-nav-ul-li:hover::after {
  transform: translate(0, 0);
}

.header-hamburger-nav.active {
  transform: translate(0%);
  width: 40vw;
}

.header-hamburger span:nth-child(1) {
  top: 10px;
}

.header-hamburger span:nth-child(2) {
  top: 20px;
}

.header-hamburger span:nth-child(3) {
  top: 30px;
}

.header-hamburger.active span {
  background-color: #333;
}

.header-hamburger.active span:nth-child(1),
.header-hamburger.active span:nth-child(3) {
  width: 14px;
}

.header-hamburger.active span:nth-child(1) {
  transform: translate(17px, 5px) rotate(45deg);
}

.header-hamburger.active span:nth-child(3) {
  transform: translate(17px, -5px) rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .header-flex-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-hamburger,
.header-hamburger-nav {
    display: none;
  }
}
.mv {
  width: 100%;
  height: 100vh;
}

#top-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  display: none;
  position: absolute;
  right: 5%;
  bottom: 5%;
  position: fixed;
  transition: 1s;
  cursor: pointer;
  z-index: 120;
  border: #22222e 3px solid;
  transition: 0.6s;
}

#top-btn:hover {
  background-color: #22222e;
  color: #fff;
  border: solid 3px #fff;
}

.top-btn-mask {
  width: 100%;
  height: 100%;
  position: relative;
}
.top-btn-mask::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "TOP";
  color: #22222e;
}

.top-btn-mask:hover::before {
  color: #fff;
}

#top-btn.active {
  opacity: 0.8;
  display: block;
}

.work {
  position: relative;
}
.work-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-container-wrap {
  width: 80vw;
  height: 50vh;
  max-width: 700px;
  background-color: #fff;
  opacity: 0.8;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}
.work-container-wrap-left {
  width: 65%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-container-wrap-left span {
  font-weight: bold;
}
.work-container-wrap-left-span1 {
  color: #f80324;
}
.work-container-wrap-left-span2 {
  color: #03246b;
}
.work-container-wrap-left-span3 {
  color: #037e03;
}
.work-container-wrap-left-p {
  vertical-align: middle;
  line-height: 1.5em;
  width: 70%;
  height: 80%;
  padding: 12px 24px;
  border-left: #9e0016 2px solid;
  font-size: 1.1em;
}
.work-container-wrap-right {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-container-nav {
  width: 70%;
  height: 80%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.work-container-list {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.work-container-item {
  background-color: #fff;
  display: block;
  padding: 12px 0;
  border: #000 solid 2px;
  font-size: 24px;
  font-family: Krungthep;
  width: 100%;
  outline: 1px solid;
  outline-color: #333;
  outline-offset: 0px;
  display: inline-block;
  transition: 0.3s;
}
.work-area {
  width: 100%;
  height: 80vh;
  position: relative;
}
.work-title {
  position: absolute;
  top: -10%;
  left: 0;
  z-index: 10;
}
.work-loop {
  display: flex;
  width: 100vw;
  height: 40vh;
  overflow: hidden;
}
.work-loop-2 {
  display: flex;
  width: 100vw;
  height: 40vh;
  overflow: hidden;
}
.work-loopWrap {
  display: flex;
  height: 100%;
  filter: blur(2px);
}
.work-loopWrap-2 {
  display: flex;
  height: 100%;
  filter: blur(2px);
}
.work-loop-2 {
  display: flex;
  width: 100vw;
  height: 40vh;
  background-color: #fff;
}
.work-loopWrap-bottom {
  height: 100%;
  filter: blur(2px);
  display: flex;
}
.work-loopWrap-bottom-2 {
  height: 100%;
  filter: blur(2px);
  display: flex;
}

.work-container-list li:nth-child(1) {
  color: #f80324;
}

.work-container-list li:nth-child(2) {
  color: #03246b;
}

.work-container-list li:nth-child(3) {
  color: #037e03;
}

.work-container-item:hover {
  -webkit-animation: light 0.8s infinite;
          animation: light 0.8s infinite;
}

@-webkit-keyframes light {
  100% {
    outline-color: transparent;
    outline-offset: 12px;
  }
}

@keyframes light {
  100% {
    outline-color: transparent;
    outline-offset: 12px;
  }
}
@media screen and (max-width: 480px) {
  .work-container-wrap {
    display: block;
    width: 100vw;
    height: 50vh;
  }

  .work-container-wrap-left {
    width: 100%;
    height: 40%;
    font-size: 15px;
  }

  .work-container-wrap-left p {
    width: 100%;
    height: 100%;
  }

  .work-container-wrap-right {
    width: 100%;
  }

  .work-container-list {
    height: 20vh;
  }
}
.work-loopWrap {
  -webkit-animation: loop2 10s linear infinite;
          animation: loop2 10s linear infinite;
}

.work-loopWrap-2 {
  -webkit-animation: loop 10s linear infinite;
          animation: loop 10s linear infinite;
}

.work-loopWrap-bottom {
  -webkit-animation: loopBottom 10s linear infinite;
          animation: loopBottom 10s linear infinite;
}

.work-loopWrap-bottom-2 {
  -webkit-animation: loopBottom2 10s linear infinite;
          animation: loopBottom2 10s linear infinite;
}

@-webkit-keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}
@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}
@-webkit-keyframes loopBottom {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(200%);
  }
}
@keyframes loopBottom {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(200%);
  }
}
@-webkit-keyframes loopBottom2 {
  0% {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes loopBottom2 {
  0% {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(-100%);
  }
}
.inner {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.common-inner {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  padding: 60px 0;
}

body {
  background-color: #22222e;
}

.common-title {
  color: #9e0016;
  font-size: 88px;
  font-family: Krungthep;
  letter-spacing: 16px;
  font-weight: bold;
  text-shadow: #868585 5px 5px 5px;
}

html, body, a, div {
  cursor: none;
}

#cursor {
  transform: translate(0, 0);
  pointer-events: none;
  position: fixed;
  top: -4px;
  left: -4px;
  width: 16px;
  height: 16px;
  background: #fff;
  opacity: 0.65;
  border: #333 solid 1px;
  border-radius: 50%;
  z-index: 999;
  transition: width 0.3s, height 0.3s, left 0.3s;
}
#cursor.hov_ {
  top: -12px;
  left: -12px;
  width: 32px;
  height: 32px;
  background: rgba(200, 50, 50, 0.75);
}

.contact-wrap {
  width: 100%;
  height: 140vh;
  margin-top: 120px;
}
.contact-wrap-p {
  text-align: center;
  position: relative;
}
.contact-wrap-p::after {
  position: absolute;
  bottom: -25%;
  opacity: 0.6;
  left: 50%;
  content: "※全て必須項目となります";
  color: #9e0016;
  font-size: 18px;
  text-shadow: none;
  transform: translate(-50%, -50%);
  letter-spacing: 0.6em;
}
.contact-container {
  width: 50%;
  max-width: 50vw;
  height: 60vh;
  margin: 120px auto;
}
.contact-form {
  width: 100%;
  height: 100%;
}
.contact-form-box {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}
.contact-form-box p {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 12px;
  line-height: 2em;
  color: #fff;
  position: relative;
}
.contact-form-box p span {
  color: #9e0016;
}
.contact-form-name {
  width: 100%;
  padding: 8px 14px;
  background-color: #fff;
}
.contact-form-message {
  background-color: #fff;
  margin-bottom: 30px;
  width: 100%;
  padding: 8px 14px;
}
.contact-form-send {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-form-send-button {
  font-size: 1.5em;
  border: #fff 2px solid;
  color: #9e0016;
  font-family: Krungthep;
  display: inline-block;
  transition: 0.3s;
  perspective: 1000px;
  perspective-origin: 50%, 50%;
  vertical-align: bottom;
  overflow: hidden;
}
.contact-form-send-button span {
  color: #fff;
  font-size: 1.5em;
  padding: 12px 36px;
  display: inline-block;
  position: relative;
  transform-origin: 50%, 0%;
  transform-style: preserve-3d;
  transition: 0.4s;
}
.contact-form-send-button span::after {
  position: absolute;
  left: 0;
  top: 0;
  content: attr(data-text);
  padding: 12px 36px;
  background-color: #fff;
  color: #9e0016;
  display: inline-block;
  transform: translate3d(0, 100%, 0) rotateX(-90deg);
}

.contact-form-send-button:hover span {
  transform: translate3d(0, 0, -60px) rotateX(90deg);
}

@media screen and (max-width: 480px) {
  .common-title {
    letter-spacing: 6px;
    font-size: 72px;
  }

  .contact-container {
    width: 90%;
    max-width: 90vw;
  }
}
.about {
  width: 100%;
  position: relative;
}
.about-title {
  z-index: 40;
  position: absolute;
  top: -10%;
  left: 0;
}
.about-container {
  width: 100%;
  height: 100vh;
  margin: 50px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.about-container-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 60vh;
}
.about-container-txt {
  position: absolute;
  top: 20%;
  right: 20%;
  width: 40%;
  z-index: 10;
  max-width: 400px;
  height: 40vh;
  border-left: 3px solid #fff;
}
.about-container-txt-p {
  line-height: 2em;
  color: #fff;
  padding: 30px 40px;
  font-size: 18px;
  vertical-align: middle;
  position: relative;
}
.about-container-txt-p::after {
  content: "Nice to ";
  position: absolute;
  top: -100px;
  left: -50px;
  font-size: 44px;
  color: #9e0016;
  opacity: 0.6;
  font-weight: bold;
  letter-spacing: 10px;
  font-family: Krungthep;
}
.about-container-txt-p::before {
  content: "meet you";
  position: absolute;
  top: -50px;
  left: -30px;
  font-weight: bold;
  font-size: 44px;
  opacity: 0.6;
  color: #9e0016;
  letter-spacing: 10px;
  font-family: Krungthep;
}

.mv-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: #e4e3e3 0 0 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

.questions {
  margin: 60px 0;
}

.ac {
  width: 100%;
}

/* クリック領域 */
.ac-parent {
  height: 50px;
  width: 100%;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  color: #9e0016;
  text-align: center;
  line-height: 50px;
  margin-top: 3em;
  cursor: pointer;
  position: relative;
}
.ac-parent::before {
  content: "+";
  position: absolute;
  right: 5%;
  color: #fff;
  font-weight: bold;
  font-size: 45px;
}

.ac-parent.active::after {
  content: "-";
  position: absolute;
  right: 5%;
  font-weight: bold;
  font-size: 45px;
}

/* クリックしたら表示される領域 */
.ac-child {
  display: none;
  padding: 2em 1em;
  line-height: 2em;
  text-align: center;
  border-top: #999 3px;
  border-style: dashed;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 3em;
}

@media screen and (max-width: 480px) {
  .about-container-pic {
    width: 100%;
    height: 45vh;
    position: absolute;
    top: -30px;
  }

  .about-container-txt {
    width: 100%;
    position: absolute;
    left: 0;
    top: 500px;
  }
  .about-container-txt-p::before {
    position: absolute;
    left: 20%;
  }
  .about-container-txt-p::after {
    position: absolute;
    left: 10%;
    top: -30%;
  }

  .ac-parent {
    font-size: 12px !important;
  }
}
.skill {
  position: relative;
  width: 100%;
}
.skill-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  height: 700px;
  background-color: #fff;
}
.skill-title {
  z-index: 101;
  position: absolute;
  top: -7%;
  right: 0;
}
.skill-container {
  width: 100%;
  height: 100vh;
  position: relative;
}
.skill-container-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.skill-container-area-box {
  width: 240px;
  height: 240px;
  background-color: #fff;
  box-shadow: 0 0 10px #e4e3e3;
  margin: 20px auto;
  border: 2px solid #444;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.skill-container-area-box:hover {
  border-radius: 50%;
}
.skill-container-area-box img {
  height: 60%;
  width: 60%;
}

.fadein {
  opacity: 0;
  transform: translate(0, 50px);
  transition: 0.6s;
  background-color: #333;
}

.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0);
  background-color: #fff;
}

.fadein:nth-child(2) {
  transition-delay: 0.3s;
}

.fadein:nth-child(3) {
  transition-delay: 0.6s;
}

.fadein:nth-child(5) {
  transition-delay: 0.3s;
}

.fadein:nth-child(6) {
  transition-delay: 0.6s;
}

.skill-container-area-box:nth-child(1):hover {
  box-shadow: orange 5px 5px;
}

.skill-container-area-box:nth-child(2):hover {
  box-shadow: blue 5px 5px;
}

.skill-container-area-box:nth-child(3):hover {
  box-shadow: yellow 5px 5px;
}

.skill-container-area-box:nth-child(4):hover {
  box-shadow: skyblue 5px 5px;
}

.skill-container-area-box:nth-child(5):hover {
  box-shadow: palevioletred 5px 5px;
}

.skill-container-area-box:nth-child(6):hover {
  box-shadow: #02025c 5px 5px;
}

.skill-container-area-box-title {
  position: absolute;
  top: 0;
  left: 0;
  font-family: Krungthep;
  opacity: 0;
  font-size: 38px;
  transition: 0.6s;
}

.skill-container-area-box-title.active {
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .skill-background {
    width: 60%;
    height: 70vh;
  }

  .skill-container {
    height: 80vh;
  }

  .skill-container-area-box {
    width: 140px;
    height: 140px;
  }
}
.footer-wrap {
  width: 100%;
  display: flex;
}
.footer-wrap-left {
  width: 50%;
  height: 100%;
  padding: 36px;
  font-family: Great Vibes;
  font-size: 2em;
  line-height: 2em;
  color: #fff;
  transform: rotate(-15deg);
}
.footer-wrap-right {
  width: 50%;
  height: 100%;
  position: relative;
  padding: 36px;
  line-height: 2.5em;
}
.footer-wrap-nav-list {
  display: flex;
  justify-content: space-around;
}
.footer-wrap-nav-list-sns img {
  width: 32px;
}

@media screen and (max-width: 480px) {
  .footer-wrap-left {
    transform: rotate(0deg);
  }
}
/*# sourceMappingURL=style.css.map */